.container {
  height: 100vh;
  max-width: 500px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box{
  background-color: #1F1F1F;
}

.submitButton {
  position: relative;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 100px;
  background-color: #FE5E9D;
  border: none;
  border-radius: .25rem;
  margin: 0;
}

.form {
  margin: auto;
  max-width: 375px;
  display: grid;
  gap: 20px;
  grid-column: 1fr;
}

.heading {
  color: #FE5E9D;
  margin: 0;
}

.header {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
  position: relative;
}

.headerHeading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputDiv {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.input {
  width: 220px;
}

.iconXs {
  width: 2rem;
}

.iconSm {
  width: 2rem ;
}

.iconMd {
  width: 3rem;
}

.submitDiv {
  margin-bottom: 2rem;
}

.submitButton:hover > .circle {
  height: 5rem;
  width: 100px;
  transition: all .3s ease-in-out;
}

.submitButton:hover > .circle > svg {
  width: 50px;
  transition: all .3s ease-in;
}

.circle {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: white;
}

.circle > svg {
  width: 0;
}

@media only screen and (min-width: 600px) {
  .iconSm {
    width: 3rem;
  }

  .iconMd {
    width: 4rem;
  }
}
